html, body {
  overflow: hidden;
}

.background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #1295ec;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.invibutton {
  background: none;
  border: none;
  outline: none;
  height: calc(100vh / 2);
  text-align: center;
  border-radius: 8px;
}

.invibutton:hover {
  cursor: pointer;
  background-color: #1182ce;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}