div.background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

h1.day {
  position: absolute;
  font-size: 100px;
  font-family: 'Futura';
  color: #fff;
  text-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
}

.invibutton {
  background: none;
  border: none;
  outline: none;
  height: 400px;
}


.invibutton:hover {
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
